<p id="notice"><%= notice %></p>
<h1>Zon Shoes</h1>
<div id="main-container" class="container-fluid">
  <div class="row">
    <div id="sidebar" class="col-xs-3 well sidebar-nav">
      <h5><i class="glyphicon glyphicon-menu-down"></i>
        <small><b>TRADEMARKS</b></small>
      </h5>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#">All</a></li>
        <% @trademarks.each do |trademark| %>
          <li><a href="#"><%= trademark.name %></a></li>
        <% end %>
      </ul>
    </div>
    <div id="main-content" class="col-xs-9">
      <% @products.each do |product| %>
        <%= render "products/show_products", product: product %>
      <% end %>
    </div>
  </div>
</div>
<%= link_to 'New Trademark', new_trademark_path %>
