<div class="modal fade" id="order-modal" tabindex="-1" role="dialog" aria-labelledby="product-label-modal" aria-hidden="true">
  <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="product-label-modal"></h4>
      </div>
      <div class="modal-body">
        <div id="product-picture-modal">
        </div>
        <h5 id="product-price-moda"></h5>
        <h5 id="product-size-modal"></h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
  </div>
</div>
