<p id="notice"><%= notice %></p>
<header>
  <h1>Products</h1>
</header>
<%= link_to 'New Product', new_product_path %>
<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <%= render "products/show_products", product: product %>
    <% end %>
  </div>
</div>
